[submodule "UWP/Libraries/Pygame/Source"]
	path = UWP/Libraries/Pygame/Source
	url = https://github.com/Greentwip/pygame
	branch = uwp
[submodule "UWP/Lex-Talionis/Assets/Lex-Talionis/"]
	path = UWP/Lex-Talionis/Assets/Lex-Talionis/
	url = https://github.com/Greentwip/lex-talionis
	branch = master
[submodule "UWP/Lex-Talionis/Assets/Lex-Talionis"]
	path = UWP/Lex-Talionis/Assets/Lex-Talionis
	url = https://github.com/Greentwip/lex-talionis
