[submodule "UWP/Libraries/Pygame/Source"]
	path = UWP/Libraries/Pygame/Source
	url = https://github.com/Greentwip/pygame
	branch = uwp
[submodule "UWP/Libraries/lex-talionis/"]
	path = UWP/Libraries/lex-talionis/
	url = https://github.com/Greentwip/lex-talionis
	branch = master
[submodule "UWP/Libraries/lex-talionis"]
	path = UWP/Libraries/lex-talionis
	url = https://github.com/Greentwip/lex-talionis
